/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/postgres-data
/.idea
/.vscode
.docker/postgres-data
.DS_Store
.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
